.App {
  text-align: left;
}

.App-logo {
  height: 10vmin; 
  width:100px; 
  margin-top: 10px;
  margin-bottom: 10px;
}



.App-header {
  background-color: black;
  min-height:50px;
}

.body {
  background-image: url("./ferrari.png");
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rdbg(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.clickme {

}

