.App {
  text-align: left;
}

.App-logo {
  height: 30vmin; 
  width:150px; 
  margin-top: 10px;
  margin-bottom: 10px;
}



.App-header {
  background-color: #282c34;
  min-height:50px;
}




.dropdown {
}

.clickme {

}

