.App {
  text-align: left;
}

.App-logo {
  height: 10vmin; 
  width:100px; 
  margin-top: 10px;
  margin-bottom: 10px;
}



.App-header {
  background-color: black;
  min-height:50px;
}

.body {
  background-image: url("./ferrari.png");
}


table, th, td, tr {
  border: 1px solid blue;
  padding: 10px;
}
.dropdown-menu-center {
  /* left: 20%;  */
  /* right: auto; */
  /* text-align: center; */
  transform: translate(900%, 0);
  display: inline-block; 
}

button {
	background: grey;
	color: black;
	font-family: "Times New Roman", Times, serif;
	border-radius: 30px;
  font-size: 20px;
  padding: 20px;
  margin-left: 600px;
  margin-top: 30npm st0px;
}

P {
  font-family: cursive;
  font-size: 110%;

}